[submodule "Chameleon"]
	path = Chameleon
	url = https://github.com/viccalexander/Chameleon.git
[submodule "SideMenu"]
	path = SideMenu
	url = https://github.com/jonkykong/SideMenu.git
[submodule "SWRevealViewController"]
	path = SWRevealViewController
	url = https://github.com/John-Lluch/SWRevealViewController.git
