<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>166491802720-gsajkt1h066078i1q5ch8gf7i1mf6g8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166491802720-gsajkt1h066078i1q5ch8gf7i1mf6g8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDPrJnBmow1cjfrWxwqdAnGAfljYMeqGyE</string>
	<key>GCM_SENDER_ID</key>
	<string>166491802720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.uregina.455.akulova.iCycle</string>
	<key>PROJECT_ID</key>
	<string>icycle-b1b68</string>
	<key>STORAGE_BUCKET</key>
	<string>icycle-b1b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166491802720:ios:9af9575e19dec302</string>
	<key>DATABASE_URL</key>
	<string>https://icycle-b1b68.firebaseio.com</string>
</dict>
</plist>